<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>​𝓣𝓗𝓐𝓜𝓐𝓡𝓐𝓘​</title>
   <meta name="description" content="Thamarai ProtFolio❤️ Designed With Html-css-Js">
   <meta name="author" content="Thamarai Kannan">
    <link rel="icon" type="image/X-icon" href="IMG-20230719-WA0007.jpg">
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"> 
      <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


</head>

<body onload="by()">
 <!-- <div class="preloader">
     
         <img src="sunexpress-sunexpress-airlines.gif" class="loader" id="abc">    
</div> -->
    <br>

    <header>
        <div id="brand-name">
       
            <h1>Thamarai</h1>
        </div>
        <nav class="menu menu-3">
            <ul>
                <li><a href="#brand-name">Home</a></li>
                <li><a href="#small">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href=".visme_d">contact</a></li>
            </ul>

        </nav>
        <div class="edit">
            <button class="edit1" onclick="demo()">Random-Background</button>
            <button class="edit1" onclick="OpenDialog()">open Dialogue</button>
        </div>
    </header>
 
<br>
<br>
<div class="blink"> HAI <%= user  %>  WELCOME TO MT SITE</div>
    

    <br> <br><br><br>
    <br>
    <main>
       
        <div id="small" id="sm">

            <h1>Thamarai Kannan</h1>
               <span id="cha">I am a  &nbsp; <span id="element"></span></span>
            <p> Hello! I'm a passionate frontend developer<br> love for creating engaging and user-friendly <br> web applications I have a strong foundation in HTML<br> CSS, and JavaScript along with experience in various<br> frontend frameworks and libraries

        </div>

        <div class="pic">
            <img src="https://it-thamarai-demo.github.io/Protfolio/IMG-20230719-WA0007.jpg" alt="" srcset="">

        </div>
        </div>
    </main>
    <br><br>

    <div class="load">

    </div>

    <section>
        <div id="skills" id="sk">

            <div class="card">
                <br>
                <i class="fa-brands fa-html5" style="color:red"></i>
                <br><br>
                <h3>HTML</h3>
                <br>
                <p>I Finished Lot of Projects In HTML</p>
                <br>
                <small for="file">HTML</small>
                <progress id="file" value="100" max="100"> </progress>
            </div>
            <br>
            <div class="card">
                <br>
                <i class="fa-brands fa-css3-alt" style="color:blue"></i>
                <br><br>
                <h3>CSS</h3>
                <br>
                <p>I Finished Lot of Projects In CSS</p>
                <br>
                <small for="file">CSS</small><br>
                <progress id="file" value="100" max="100"> </progress>
            </div>
            <br>
            <div class="card">
               
                    <br>
                    <i class="fa-brands fa-js" style="color: yellow"></i>
                    <br><br>
                    <h3>Java Script</h3>
                    <br>
                    <p>I Finished Lot of Projects In Js </p>
                    <br>
                    <small for="file">JavaScript</small><br>
                    <progress id="file" value="50" max="100">  </progress>
                </div>
                <br>
                    <div class="card">
            
                    <br>
                    <i class="fa-brands fa-docker" style="color: blue"></i>
                    <br><br>
                    <h3>Docker</h3>
                    <br>
                    <p>Cretaed Contaniers in Dockers </p>
                    <br>
                    <small for="file">Docker</small><br>
                    <progress id="file" value="100" max="100">  </progress>
                </div>

            </div>


        </div>
        
    </section>
        <div class="visme_d" data-title="Contact Form" data-url="z41do17y-contact-form" data-domain="forms" data-full-page="false" data-min-height="500px" data-form-id="76070"></div><script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>
   <br><br>
      <br>
      <br>
      <br>
    
    <footer>
        <div class="col"><a href="https://github.com/IT-Thamarai-demo/-Thamarai-code-"><i class="fa-brands fa-github" style="color: black;" title="Github profile"></i></a></div>
        <div class="col" style="background-color:#ff5e57"><a href="tel:+918438785779"><i class="fa-solid fa-phone" title="Call Me"></i></a></div>
        <div class="col" style="background-color: rgb(0, 0, 121);"><a href="mailto:thamarair65@gmail.com"><i class="fa-solid fa-envelope" title="Mail To" ></i></a></div>
        <div class="col" style="background-color: rgb(4, 4, 247);"><a href="https://www.linkedin.com/in/thamarai-kannan-912814221/" title="LinkedIN Profile"><i class="fa-brands fa-linkedin"></i></a></div>

        <div class="col" style="background-color: rgb(80, 241, 80);"><a href="https://wa.me/918438785779?text=Hai How Are You ❤️💓" title="Send Whatsapp Messege"><i class="fa-brands fa-whatsapp"></i></a></div>
    </footer>
    <div class="scroll" onclick="along()" title="Go-To-Top">
        <i class="fa-solid fa-circle-up" id="a"></i>
    </div>


    <dialog id="dan">
        <h1 id="time"></h1>
        <h1 behavior="" direction="">Yours Info</h1>
        
        <h1 id="di"></h1>
      
        <h1 id="bl">
            
            <h1 id="ct"></h1>
          
            <h1 id="hei">
                </h3>
                <h1 id="wei">
                    </h3>
                    <h1 id="dt"></h1>
                 

    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="CLoseDialog()" class="edit1">Close Daialog</button>
      <button class="edit1" onclick="vibrare(100)">vibrate</button>
    </dialog>

      
    </div>
    
  
<script>


Notification.requestPermission().then((res)=>
{
    if(res=="granted")
    {
      const notification= new Notification("Welcome To My Protfolio 💓",{
        icon:"https://it-thamarai-demo.github.io/Protfolio/IMG-20230719-WA0007.jpg",
        body:"Haiii 🤍😊💓"
      })
      
    }
})

//your device width and height
let h = window.innerHeight;
let w = window.innerWidth;

// naviagation loggc

let tag = document.querySelector("#dan");
console.log(tag);
// contact form
document.querySelector("#c-form").addEventListener("submit", function(e) {

    e.preventDefault();
    let data = new FormData(e.target)
    fetch('https://formspree.io/f/xgeglblo', {
            method: 'POST',
            body: data
        })
        .then((res) => {
            if (res.ok) {
                alert("success")
                console.log(res);
            } else {
                alert("failure")
            }

        })
});
let body = document.querySelector("body");
let btn1 = document.querySelector("#change");
let icon = document.querySelector(".scroll")
let text = document.querySelector("#c");
//toggle background colot

function demo() {
  let red = Math.floor(Math.random() * 100);
  let green = Math.floor(Math.random() * 100);
  let blue = Math.floor(Math.random() * 100);
  let random = `rgb(${red},${green},${blue})`;
  console.log(random);
 let body= document.querySelector("body")
 body.style.backgroundColor=random;
}




//loading alert
let by = () => {
    alert("Welcome To My Page ❤️  ")
}

function along() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
window.addEventListener("scroll", () => {
    if (window.scrollY > 100) {
        icon.classList.add("active")

    } else {
        icon.classList.remove("active")
    }

})
//get current date
const date=new Date();
document.querySelector("#dt").textContent = `Today is  ${date.toLocaleDateString()}`

//openning and closing dialog

function OpenDialog() {
    tag.showModal();
}

function CLoseDialog(params) {
    tag.close();
}

//display current time


let CT = document.querySelector("#ct")


setInterval(() => {
    const currentTime = new Date();

    const formattedTime = " Current Time is : " + currentTime.toLocaleTimeString();

    CT.innerHTML = formattedTime;

}, 1000);


//dispaly device information

let DF = document.querySelector("#di");
if (navigator.userAgentData) {
    const deviceName = navigator.userAgentData.brands[0].brand;
    DF.innerHTML = " Device name :" + deviceName;
} else {
    // Fallback to navigator.userAgent for older browsers
    const userAgent = navigator.userAgent;
    const match = userAgent.match(/\((.*?)\)/);
    if (match && match.length > 1) {
        const deviceInfo = match[1];
        DF.innerHTML = " Your Device Name Is :" + deviceInfo;
    } else {
        DF.innerHTML = " Unable To Find Device :" + deviceInfo;
    }
}




//display battety information
let dis = document.querySelector("#bl");

// Check if Battery Status API is supported
if ('getBattery' in navigator) {
    navigator.getBattery().then(function(battery) {
        // Update the battery percentage initially
        updateBatteryStatus(battery);

        // Update the battery percentage whenever it changes
        battery.addEventListener('levelchange', function() {
            updateBatteryStatus(battery);
        });

        function updateBatteryStatus(battery) {
            // Get the battery percentage
            const batteryPercentage = battery.level * 100;

            // Display the battery percentage
            dis.innerHTML = `    Battery Percentage : ${batteryPercentage.toFixed(2)} `;
        }
    });
} else {
    dis.innerHTML = " Api is not supported by your battery"
}
//    good morning

let goodmorning = document.querySelector("#time")


const now = new Date();
const hour = now.getHours();

if (hour >= 5 && hour < 12) {
    goodmorning.textContent = "Good morning 🌄!";
} else if (hour >= 12 && hour < 17) {
    goodmorning.textContent = "Good afternoon 😋!";
} else if (hour >= 17 && hour < 22) {
    goodmorning.textContent = "Good evening 🌆!";
} else {
    goodmorning.textContent = "Good night 🌙!";
}

document.querySelector("#hei").textContent = "Device Height  :" + h + "Px"
document.querySelector("#wei").innerHTML = "Device Width  :" + w + "Px"
//typing animation

var typed = new Typed('#element', {
    strings: ['Content Creator 💓 ...' , 'Free Lancer  ...❤️','Web Desinnger  ... 💕'],
    typeSpeed: 70,
    loop:true
  });
 function vibrare(ms)
  {
     navigator.vibrate(ms)
  }
  window.addEventListener('load', function () {
    const loader = document.querySelector('.preloader');
    const content = document.querySelector('.content');
  
    setTimeout(function () {
      loader.style.display = 'none';
      content.style.display = 'block'; // Show content after preloader is removed
    }, 2000); // Adjust the time as needed
  });
  let map = L.map('map');

        // Initialize the map with user's location
        if ('geolocation' in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var userLat = position.coords.latitude;
                var userLng = position.coords.longitude;

                map.setView([userLat, userLng],15);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                var marker = L.marker([userLat, userLng]).addTo(map);
                marker.bindPopup("<b>Your Location ❤️</b>").openPopup();
            });
        } else {
            alert('Geolocation is not supported by your browser');
        }
     document.addEventListener("visibilitychange",()=>
    {
        new Notification("please come❤️❤️❤️",{
            title:`${document.title}`,
            body:"please my this site 🙏"
        })
    })

</script>
</body>

</html>