@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --name: 35px;
}

header {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
    animation: re 5s infinite;
}

@keyframes re {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translate(0px);
    }
}

header span {
    color: blue;
}
span
{
    font-size: 30px;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 10px 10px;
}

.edit1 {
    padding: 10px;
    font-size: 1rem;
    background-color: blue;
    cursor: pointer;
    color: #fdfdfd;
    border: none;
    border-radius: 10px;
    outline: none;
}

a,
footer .col a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blueviolet;
    text-decoration: double;
}

main {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    height: 500px;
}

#small {
    height: 250px;
    width: 600px;
    /* background-color: blue; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: fadeach 5s infinite;
    border-radius: 10px;
}

@keyframes fadeach {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.small h1 {
    /*     animation: fadein 5s infinite  ; */
    text-shadow: 10px 10px 10px 10px solid yellow;
}

.pic {
    height: 300px;
    width: 300px;
    background-color: rgb(240, 234, 234);
    border-radius: 50%;
    border: 10px solid white;
    animation: fadeout 5s infinite ease-in-out;
    overflow: hidden;
}

@keyframes fadeout {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

.pic img {
    height: 100%;
    width: 100%;
}

.small h1 {
    font-size: 40px;
}

.small span {
    font-size: 40px;
    margin-top: -4%;
}

.small p {
    font-size: 20px;
}

#skills {
     height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    text-align: center;
}

@keyframes fadein {
    from {
        opacity: 0;
        font-size: 20px;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        font-size: 40px;
        text-shadow: 2px 20px 12px rgba(255, 247, 5, 0.68), 20px -20px 25px rgba(117, 125, 69, 1);
        transform: translateY(0px);
    }
}

.card {
    height: 260px;
    width: 200px;
    display: inline-block;
    text-align: center;
    border: 3px solid white;
    animation: shad 5s infinite;
}


@keyframes shad {
    to {
        box-shadow: 1px 4px 8px 1px rgba(250, 250, 250, 0.979), 0 6px 20px 0 rgba(8, 8, 8, 0.19);
    }
}

.card p {
    font-size: 20px;
}

.card h3 {
    font-size: 30px;
}

.card i {
    font-size: 30px;
    color: whitesmoke;
}

section {
    display: flex;
    justify-content: space-around;
}

#contactus {
    height: 350px;
    /* background-color: blueviolet; */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -1em;
}

input[type=text],
input[type=email],
textarea {
    padding: 10px;
    outline: none;
}

input:hover {
    border: 5px solid gray;
}

textarea:hover {
    border: 5px solid gray;
}

label {
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    margin-top: -5%;
    text-align: center;
    /* background-color: blue; */
}

footer i {
    font-size: var(--name, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
    margin-left: px;
    /* color: black; */
}

span {
    display: flex;
}

.col {
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    animation: load 5s infinite;
}

@keyframes load {
    0% {
        transform: rotate(360 deg);
        transform: translateX(-50px);
        opacity: 0;
    }
    50% {
        scale: 1;
        color: gold;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        transform: rotate(0 deg);
    }
}

body {
    background-color: black;
    color: white;
}



@keyframes come {
    0% {
        width: 0ch;
    }
    100% {
        width: 16ch;
    }
}

@keyframes dem {
    from {
        width: 0ch;
    }
    to {
        width: 20ch;
    }
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

progress {
    color: white;
}

small {
    font-size: 20px;
}

label {
    color: white;
}

h1 {
    font-size: var(--name);
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    .menu menu-3
    {
        padding:3px;
    }
    main {
        flex-direction: column;
        text-align: center;
    }
      #small
    {
        width: 100%;
    }
    #small p {
        font-size: 16px;
    }
    #skills,
    #contactus {
        flex-direction: column;
        height: 100%;
        text-align: center;
    }
    .card {
        flex-direction: column;
        text-align: center;
    }
    section {
        flex-direction: column;
        text-align: center;
    }
    form {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .scroll {
        left: 19px;
        margin-top: -100%;
    }
    .load {
        display: none;
    }
    #map {
        height: 300px;
        width: 300px;
       position: absolute;
       right: 0%;
    }
    ul
    {
        flex-direction:column;
    }
     #map {
        height: 300px;
        width: 300px;
       position: absolute;
       right:-2px;
    }
}

.scroll {
    height: 60px;
    width: 60px;
    background-color: palevioletred;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 1;
    pointer-events: fill;
}

.scroll i {
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
}

.mall {
    background-color: mediumseagreen;
}

.spinner {
    border: 2px slid blue;
    border-top: 10px solid green;
    border-radius: 100%;
    animation: role 8s infinite;
    height: auto;
    width: auto;
}

.load {
    height: 15px;
    width: 1279px;
    background-color: rgb(223, 223, 240);
    animation: jail 5s linear;
    animation-timeline: scroll(root);
    border-radius: 1%;
    position: fixed;
    top: 0;
    transition: 0.2ms all;
}

@keyframes jail {
    0% {
        width: 0;
        background-color: blue;
    }
    100% {
        width: 100%;
        background-color: yellow;
    }
}

body {
    transition: 0.2ms all;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(12, 70, 91);
    color: white;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

dialog h1,
h4,
h5 {
    text-align: center;
    text-wrap: nowrap;
}


#show {
    text-align: center;
    object-fit: cover;
}
#map {
    height: 400px;
    width: 400px;
    border-radius: 10%;
    border: 2px solid rebeccapurple;
    text-align: center;
    margin-left: 36%;
}
.menu{
    padding: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
 

  .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .menu li{
    display: inline-block;
    margin: 0 15px;
  }
  .menu a{
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 4px 0;
  }
  .menu a::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
  }
  .menu a:hover::before{
    transform: scale3d(1,1,1);
  }
  .menu-3 a::before{
    transform-origin: 50% 50%;
    background-color: blue;
  }
 /* Target the scrollbar */
/* For Webkit based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}

.preloader {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-image: url('sunexpress-sunexpress-airlines.gif');
    /* The following properties ensure the background image covers the entire viewport */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 .preloader img
  {
     filter: brightness(-20);
  }


.content {
  display: none; /* Hide content until preloader is removed */
}
#map {
    height: 400px;
    width: 400px;
    border-radius: 10%;
    border: 2px solid rebeccapurple;
    text-align: center;
    margin-left: 36%;
}
marquee
{
    text-align: center;
    color:greenyellow ;
    font-size: 30px;
    text-transform: capitalize;

}
.blink {
    animation: blinker 1.5s linear infinite;
    color: rgb(0, 255, 123);
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;

}

@keyframes blinker {
    10% {
        opacity: 0;
      
    }
}


